<!DOCTYPE html>
<html>
  <head>
    <title>PetBooking</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

    
    	<header>
    		<nav class="navbar navbar-default navbar-fixed-top">
    			<div class="container">
            <%= render 'layouts/menu' %>
    			</div>
    		</nav>
    	</header>
    

  	<section class="container">
    	<%= yield %>
    </section>
    
    
	  <footer>
	    <div class="container">
	      <br>
	    	<p>Copyright © <%="2016"%> - PetBooking</p>
	      <br>
	    </div>
	  </footer>

</html>
